tbody {
    background-color: blanchedalmond;
    font-size: 2em;
    border: 2px blue solid;
    border-radius: 10px;
}

#principal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid coral;
    /*color: rgba(255, 194, 102, 1);*/
    /*color: hsla(34, 15, 50, 0.9);*/
    color: hsla(30, 100%, 50%, 1);
    padding: 15px;
    margin: 15px auto;
    width: 15cm;
    width: 40%;
    height: 250px;
    border-radius: 0px 25px;
    box-shadow: coral 5px 5px 100px inset; /*Derecha, abajo, longitud de la difuminacion*/
    text-shadow: grey 5px 5px;
    background: -webkit-linear-gradient(top, white, blue);
    transform: translate(300px, 300px);
    transition-property: all;
    transition-duration: 1s;
    transition-delay: .5s;
    /*transition-timing-function: steps(5, end);*/
    /*transition-timing-function: cubic-bezier(.15,.96,.81,-1.39);*/
    transition: all 5000ms cubic-bezier(1.000, -0.600, 0.010, 1.485);
    transition-timing-function: cubic-bezier(1.000, -0.600, 0.010, 1.485);
    

    
       
}

/*#subtitulo {
    text-shadow: black 2px 2px;
}*/

